In [1]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [23]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_results = []
june_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()
#print(june_results)

In [24]:
#  3. Convert the June temperatures to a list.
june_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month',Measurement.date) == 6).all()
#print(june_temps)

In [56]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(june_temps, columns=['Date','June Temperature'])
june_temps_df.head(10)

         Date  June Temperature
0  2010-06-01              78.0
1  2010-06-02              76.0
2  2010-06-03              78.0
3  2010-06-04              76.0
4  2010-06-05              77.0
5  2010-06-06              78.0
6  2010-06-07              77.0
7  2010-06-08              78.0
8  2010-06-09              78.0
9  2010-06-10              79.0

In [57]:
june_temps_df.describe()

       June Temperature
count       1700.000000
mean          74.944118
std            3.257417
min           64.000000
25%           73.000000
50%           75.000000
75%           77.000000
max           85.000000

## D2: Determine the Summary Statistics for December

In [29]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december_results = []
december_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()
#print(december_results)

In [44]:
# 7. Convert the December temperatures to a list.
december_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()
#print(december_temps)

In [58]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_temps_df = pd.DataFrame(december_temps, columns=['Date','Dec Temperature'])
december_temps_df.head(10)

         Date  Dec Temperature
0  2010-12-01             76.0
1  2010-12-03             74.0
2  2010-12-04             74.0
3  2010-12-06             64.0
4  2010-12-07             64.0
5  2010-12-08             67.0
6  2010-12-09             77.0
7  2010-12-10             66.0
8  2010-12-11             69.0
9  2010-12-12             68.0

In [59]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_temps_df.describe()

       Dec Temperature
count      1517.000000
mean         71.041529
std           3.745920
min          56.000000
25%          69.000000
50%          71.000000
75%          74.000000
max          83.000000

## Additional Query 1

In [68]:
# Write a query that filters the Measurement table to retrieve the precipitation for the month of June.
june_precip = session.query(Measurement.date, Measurement.prcp).filter(extract('month',Measurement.date) == 6).all()
#print(june_precip)

In [69]:
#Create a DataFrame from the list of precipitation for the month of June.
june_precip_df = pd.DataFrame(june_precip, columns=['Date', 'June Precipitation'])
june_precip_df.head(10)

         Date  June Precipitation
0  2010-06-01                0.00
1  2010-06-02                0.01
2  2010-06-03                0.00
3  2010-06-04                0.00
4  2010-06-05                0.00
5  2010-06-06                0.00
6  2010-06-07                0.00
7  2010-06-08                0.00
8  2010-06-09                0.00
9  2010-06-10                0.00

In [70]:
# Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
june_precip_df.describe()

       June Precipitation
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

## Additional Query 2

In [65]:
# Write a query that filters the Measurement table to retrieve the precipitation for the month of December.
december_precip = session.query(Measurement.date, Measurement.prcp).filter(extract('month',Measurement.date) == 12).all()
#print(december_precip)

In [66]:
#Create a DataFrame from the list of precipitation for the month of December.
december_precip_df = pd.DataFrame(december_precip, columns=['Date', 'Dec Precipitation'])
december_precip_df.head(10)

         Date  Dec Precipitation
0  2010-12-01               0.04
1  2010-12-03               0.00
2  2010-12-04               0.00
3  2010-12-06               0.00
4  2010-12-07               0.00
5  2010-12-08               0.00
6  2010-12-09               0.00
7  2010-12-10               1.58
8  2010-12-11               0.77
9  2010-12-12               0.00

In [67]:
# Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_precip_df.describe()

       Dec Precipitation
count        1405.000000
mean            0.216819
std             0.541399
min             0.000000
25%             0.000000
50%             0.030000
75%             0.150000
max             6.420000